/* Estilos Episodios */
.episode {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(186, 255, 0);
    padding: 10px;
    margin: 10px 0;
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
    background: rgba(108, 2, 125, 0.5);
    border-radius: 10px;
    color: rgb(174, 166, 174);
}

.episode-info {
    flex: 1;
    margin-right: 20px;
}

.episode-characters {
    flex: 1;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.carousel-item {
    flex: 0 0 25%; 
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.carousel-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;
}

.carousel-item p {
    margin-top: 5px;
    font-size: 1em;
    font-weight: 700;
    color:rgb(189, 195, 187);
}
