* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    color: #f0f0f0;
}

.container {
    width: 95%;
    max-width: 1600px;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 0;
}

article {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

article:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.image-container img:hover {
    transform: scale(1.1);
}

article h2 {
    font-size: 1.5em;
    margin: 10px 5px;
    color: #fff;
}

article span {
    display: block;
    margin: 5px 5px;
    color: #bbb;
}

/* Estilos para los botones de paginación */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: rgba(220, 144, 219, 0.2);
}  

.pagination button:hover {
    background-color: #6e45e2;
    transform: translateY(-2px);
}

/* Estilos para el buscador */
form#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

form#searchForm input,
form#searchForm select,
form#searchForm button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

form#searchForm input {
    width: 200px;
}

form#searchForm button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form#searchForm button:hover {
    background-color: #6e45e2;
    transform: translateY(-2px);
}


/* Estilos para modales */
.modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 

}

.modal-content {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    margin: 10% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 40%; 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: right center;
    overflow: hidden; 
    font-family: 'Roboto', sans-serif; 
    color: #333; 
    font-size: 30px;
    font-weight: bold;
}

.close {
    color: #090909;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.character-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: shine 2s infinite;
    position: relative; 
}

.character-card img {
    width: 360px;
    border-radius: 50%;
}
