/*Estilos para la barra de navegacion*/
nav.navbar {
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav.navbar .logo {
    height: 100px;
    margin-right: 20px;
}

nav.navbar ul {
    list-style: none;
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: space-around;
    margin: 0;
    padding: 0; 
}

nav.navbar li {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex: 1;
    text-align: center;
}

nav.navbar a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px; 
    transition: background 0.3s, transform 0.3s;
    border-radius: 5px;
    text-align: center;
    font-size: 18px; 
}

nav.navbar a:hover, nav.navbar a.active {
    background: #6e45e2;
    transform: translateY(-2px);
    padding: 20px; 
    text-align: center;
}

/*Estilos dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #6e45e2;
}

.dropdown:hover .dropdown-content {
    display: block;
}